$accentColor = #5C93FF // 主题色
$textColor = #2c3e50 // 文字颜色
$borderColor = #eaecef // 边框颜色
$codeBgColor = #282c34 // 代码背景颜色
// 侧边栏重写样式
.sidebar .sidebar-link{
  height: 40px;
  line-height: 26px;
  font-size: 14px;
  margin-top: 2px;
  border-left: none;
  border-right: 0.25rem solid transparent;
}
a.sidebar-link.active {
  background-color: #e6f7ff;
  border-right: 0.25rem solid #5c93ff;
}

.sidebar-sub-header a.sidebar-link.active{
  background-color: #fff;
  border-right: 0.25rem solid transparent;
}

.home .hero img {
  margin-top: 20px;
}

.page .token.attr-value,.page  .token.char,.page  .token.regex,.page  .token.string, .token.variable {
  color: #85d022;
}
.page .token.attr-name,.page  .token.deleted,.page  .token.namespace, {
  color: #e9c61f;
}
