$border-color-hover: #40a9ff;
$border-color: #d9d9d9;
$border-color-light: lighten($border-color, 30%);
$icon-light: #bfcbd9;
$border-raduis: 4px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$button-active-bg: #40a9ff;
$button-hover-bg: #40a9ff;
$button-bg: white;
$button-height: 32px;
$color: rgba(0,0,0,.65);
$font-size: 14px;
$input-height: 32px;
$red: #f1453d;

.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}